<script src="https://cdn.tiny.cloud/1/rmpb5rihpemv1rl80cj0npzdm8r23a1ra81uokobhwyw647l/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<h1>Update {{post.title}}</h1>
<form action="/post/{{post.id}}/update" method="post">
{{ csrf_field }}
<label for="title">Title: </label>
<input type="text" id="title" name="title" value="{{post.title}}" /><br />
<label for="body">Content: </label>
<textarea id="body" name="body">{{post.body}}</textarea>
<input type="submit" value="Update" />
</form>

<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
  });
</script>
